.career-start {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.career-grid-1 {
  font-family: "HKGrotesk";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
.career-content {
  margin-top: 30px;
}
.client_detail {
  color: #515357 !important;
}
.card-1 {
  display: flex;
  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.cards__item {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 20px;
  border: 3px solid rebeccapurple;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__cover {
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card__cover img {
  height: 150px;
  width: 150px;
}

.card__content {
  padding: 10px;
  flex: 1;
}
/* newadded */
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "HKGrotesk";
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  --bg-filter-opacity: 0.5;
  height: 18em;
  width: 300px;
  font-size: 1.5em;
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 3px solid #3c3163;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.7em !important;
  font-family: "HKGrotesk";
  margin-top: 0.5em;
  line-height: 1.2em;
}

.card .tags {
  display: flex;
}
.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
.card-grid-space {
  padding: 25px;
}
.card:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 60%);
  -moz-box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 60%);
  -webkit-box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 60%);
  -o-box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 60%);
}
.info {
  font-size: 1.2em;
  display: flex;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .career-start {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .grid-2 {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
.gif img {
  width: 150px;
  height: 150px;
}
.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-grid-space h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_controls select {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 11px;
  margin-top: -4px;
  font-size: 15px;
  line-height: 22px;
  color: #70768b;
  background-color: #fff;
  border: 1px solid rgba(157, 162, 180, 0.4);
  border-radius: 2px;
  outline: 0;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.current-open {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-open-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 345px 345px;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border: 2px solid #3c3163;
  border-radius: 10px;
  height: 80px;
  width: 88%;
  margin: 10px 0 10px 25px;
}
.current-open-grid-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.current-open-grid-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.current-open-grid-2 a {
  width: 100px;
  height: 40px;
  background: #3c3163;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-open-grid-2 a:hover {
  color: #3c3163;
  background: #ffffff;
  border: 3px solid #3c3163;
}
@media only screen and (max-width: 990px) {
  .current-open-grid {
    display: flex;
    grid-auto-columns: 1fr;
    grid-template-columns: 345px 345px;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: ". .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 2px solid #3c3163;
    border-radius: 10px;
    height: 80px;
    width: 88%;
    margin: 10px 0 10px 25px;
  }
 .cm-line:nth-child(2){
    display: none;
  }
  .cm img {
    width: 350px !important;
    height: auto;
  }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3c3163;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
.carrer_slider_sec {
  background: none;
}
.job-grid {
  display: grid;
  grid-template-columns: 570px 400px;
  gap: 0px 0px;
  justify-content: center;
  /* align-content: center;  */
  /* justify-items: center;  */
  /* align-items: center;  */
  height: auto;
  width: auto;
}
.job-grid-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "HKGrotesk";
}
.job-grid-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
/*.title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "HKGrotesk";
}*/
.ap-btn {
  width: 150px;
  height: 40px;
  background: #3c3163;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  font-family: "HKGrotesk";
  display: flex;
  align-items: center;
  justify-content: center;
}
.ap-btn:hover {
  color: #3c3163;
  background: #ffffff;
  border: 3px solid #3c3163;
}
.ap-description {
  padding: 40px 0 10px 70px;
  color: #515357;
  font-family: "HKGrotesk";
}
.response {
  color: #400080;
  padding: 20px 0 10px 70px;
  font-family: "HKGrotesk";
}
.skill {
  color: #400080;
  padding: 20px 0 10px 70px;
  font-family: "HKGrotesk";
}
.weoffer {
  color: #400080;
  padding: 20px 0 10px 70px;
  font-family: "HKGrotesk";
}
.response li,
.skill li,
.weoffer li {
  color: #515357;
  font-family: "HKGrotesk";
}
.list ul > li {
  list-style: square;
}
.response ul {
  padding-left: 20px;
}
.skill ul {
  padding-left: 20px;
}
.weoffer ul {
  padding-left: 20px;
}
.ap-about {
  padding: 20px 0 10px 70px;
  color: #515357;
  font-family: "HKGrotesk";
}
.ap-about h5 {
  color: #400080;
  font-family: "HKGrotesk";
}
.border_bar_1 {
  width: 65px;
  height: 5px;
  display: block;
  background-color: var(--red-color);
  border-radius: 10px;
}
@media only screen and (max-width: 990px) {
  .job-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 400px 400px;
    gap: 0px 0px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
  }
}
/* Content moderation css below */
.hero{
     background-image: url(/images/cont-mod/cm-1.jpg); 
     /* background-color: #e3e4ff; */
    height: 500px;
    width: auto;
    color: #fff;
}
.hero span{
  color: #f0615a;
}
.align{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid_icon > img{
  width: 80px;
  height: auto;
}
.grid_1{
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
  margin-top: 30px;
}
.grid_1::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -15px;
  left: 0;
  background-color:#304060;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.grid_1:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.grid_1::before{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 300;
  left: 0;
  background-color: #304060;
  transform-origin: top left;
  transition: transform 0.5s ease-out;
}
.grid_1:hover::before{
  transform: scaleX(1);
  transform-origin: top right;
}
.section-5 .card{
  background-color: #000;
  padding: 0;
  --bg-filter-opacity: 0.5;
  height: 18em;
  width: 300px;
  font-size: 1.5em;
  color: #fff;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 0;
  margin: 20px;
  text-decoration: none;
}
/* .section-5 .card-img-overlay { 
  position: absolute;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.section-5 .card:hover img{
  opacity: 1;
}
.section-5 .card:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 60%);
  -moz-box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 60%);
  -webkit-box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 60%);
  -o-box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 60%);
}*/

.cm-service img{
  max-width: 100%;
  height: 300px;
  border-radius: 20%;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
  border-radius: 30px;
}
.hero h1{
  color: #fff !important;
}
.hero .ap-btn{
  padding: 20px;
  background-image: linear-gradient(225deg, #2af589 10%, #009efd 90%);
}
.hero .ap-btn:hover{
  color: #fff;
  background: linear-gradient(225deg, #2af589 10%, #009efd 90%) !important;
  border: none;
}
.hero_bg{
  display: flex;
  align-items: center;
  background-image: linear-gradient(315deg, #accbee 10%, #e7f0fd 90%);
  height: 550px;
  margin: 50px 0 ;
  border-radius: 30px;
}
.hero-2{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.hero .align{
  padding: 20px 0;
}
.hero-img{
  width: 500px;
  height: 500px;
}

 @media screen and (max-width: 800px){
  .hero_bg{
    flex-direction: column-reverse;
    height: 750px;
  }
  .hero-img:nth-child(1){
    width: 300px;
    height: 300px;
  }
} 
@media screen and (max-width: 400px){
  .hero-img{
    display: none;
  }
  .hero_bg{
    flex-direction: column-reverse;
    height: 600px;
    margin-top: 570px;
  }
  .hero{
    height: 550px;
  }
  .hero_1{
    display: flex;
    flex-direction: column;
  }
}
/* content mordertation */
.cm img {
  width: 500px;
  height: auto;
}
.grid_title > h3{
  color: #304060;
  font-size: 20px;
}
.section-5.card-img-overlay {
display: none !important;;

}
.section-5.card-img-overlay:hover {
  display:contents !important;;
}
.section1{
  background-color: #6B7299;
}
.section3{
 
  padding-top: 40px;
  padding-bottom: 30px;
}
.section4{
  background-color: #f9efe4;
  padding-top: 20px;
  padding-bottom: 30px;
}
.section-5{
  padding-top: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 350px){
  .cm>img{
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  .cms_row{
    display: flex;
    /* flex-direction: column; */
  }
  .cm>img{
    width: 250px !important;
    height: auto;
  }
  .cms-row{
    display: flex;
    flex-direction: column;
    margin: -37px 0 170px 0;
  }
  .cms-col{
    padding-top: 375px;
  }
  .cms-row-r{
      display: flex;
      flex-direction: column !important;
      margin: -37px 0 170px 0;
  }
}
.h1_text{
  font-size: 36px !important;
  font-weight: 700;
  line-height: 1.6;
  color: #fff!important;
  font-family: "HKGrotesk" !important;
}
.h1_color{
  color: #fff!important;
}

.border_bar_2 {
  width: 65px;
  height: 3px;
  display: block;
  background-color: #fe7058;
  border-radius: 10px;
}
.cm_process img{
  width: 250px;
  height: auto;
  /* padding-right: 40px; */
}
.cm_process{
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-5_tittle{
  padding-top: 20px;
}
.grid_title{
  margin: 5px 0 20px 0;
}
.cms-title{
  margin: 0 0 30px 0;
}
.cm-line{
    font-size: 2em;
    position: absolute;
    display: block;
    top: 175px;
    left: -80px;
    z-index: -1;
    animation: myAnim 0.5s ease-in-out infinite forwards;
}

@keyframes myAnim {
  0%{
    transform: translateX(0px) ;
  }
  100%{
    transform: translateX(20px);
  }
}
.cms-row-r{
  display: flex;
  flex-direction: row-reverse;
}
.cm-service, .section4,.section-5{
  font-family: "HKGrotesk";
}
